.bookAppointment {
  background-image: linear-gradient(
      rgba(114, 212, 116, 0.5),
      rgba(114, 212, 116, 0.5)
    ),
    /* url("./Assets/background.jpg"); */
    url("https://images.unsplash.com/photo-1628348070889-cb656235b4eb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170");
  height: 78vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}
.time-modal{
  padding:5rem;
}
.bookLeft {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookLeft h1 {
  font-size: 35px;
  font-weight: 600;
  max-width: 80%;
  text-align: center;
}

.bookLeft p {
  text-align: center;
  font-size: 20px;
  max-width: 70%;
  margin: 20px 0;
}

.bookRight {
  display: flex;
  background-color: white;
  overflow-x: hidden;
  padding: 10px 20px;
  margin-left: 50px;
  flex-direction: column;
}

.bookRight h1 {
  font-weight: 500;
  font-size: 25px;
}
.rightContent {
  flex-direction: column;
}

.rightContent button {
  padding: 10px 20px;
  width: 100%;
  margin: 10px 0;
  text-transform: uppercase;
}
.rightContent button:hover {
  padding: 10px 20px;
  width: 100%;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: #75bf47;
  color: white;
}
.nameBlock {
  display: flex;
  justify-content: space-between;
}
.name-input{
  width:48%;
}
.input-field{
  margin-top:10px !important;
}
.serviceDropDown{
  width:100% !important;
  padding:10px;
  margin-top: 10px;
}
.imageModal{
  padding:auto !important;
  margin:4rem;
}

.dropdown{
  position: relative !important;
}

.service_dropDown{
  position: absolute !important;
  bottom: 10;
  width: 100%;
}
.dropdown-menu{
  width: 100% !important;
  background-color: rgba(66, 167, 68, 0.9) !important;
}

.dropdown-item{
  text-align:center;

}